# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
lec

# Test binary, build with `go test -c`
*.test

# sample files
input/
output/

# Development
/.env.override

# Project
.idea
*.iml
.vscode
